
body  {  	
	background: #ddd;  
}    

td:hover { 
	background-color: #3333FF;
	color: 000033;
}

a.linkCaminhoMenu{
	font:0.5em arial,sans-serif;
}

td.opcaoTitulo
{
	font:3em arial,sans-serif;
	font-weight:bold;
	border-width: thin; 
	border-style: solid;
	color: #DDDDDD;
	background-color: #0000CD;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	border-color: #0000CC;
}

td.opcao
{
	font:2em arial,sans-serif;
	font-weight:bold;
	border-width: thin; 
	border-style: solid;
	color: 000044;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	border-color: #0000CC;
	height:80px;
}

table {
	border-spacing:0;
    border-collapse:collapse;
	background-color:3399FF;
    width:100%; 
}

table.controle {
	border-spacing:0;
    border-collapse:collapse;
	background-color:3399FF;
    width:100%; 
}

td.controle:hover { 
	background-color: #3333FF;
	color: 000033;
}

td.controle
{
	font:39px arial,sans-serif;
	font-weight:bold;
	border-width: thin; 
	border-style: solid;
	color: 000044;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	border-color: #0000CC;
	width: 2em;
	height: 2em; 
}


#DivMenu {
	xborder:thin blue solid;
	xbackground-color:3399FF;
	width: 100%; 
	height: 100%; 

}

#DivAcao{
	font:0.33em arial,sans-serif;
}

.DivBack 
{ 
align: left; 
}